#wrapper {
  position: relative;
  margin-bottom: 1em;
}

#chart {
  margin-top: 4em;
}

svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.line {
  fill: none;
  stroke: #eb4511;
  stroke-width: 3;
}

.tooltipCircle {
  stroke: #eb4511;
  fill: white;
  stroke-width: 2;
  opacity: 0;
}

.mean,
.vacation_start,
.vacation_end {
  stroke: #7d82b8;
  stroke-dasharray: 2px 4px;

}

.y-axis-label {
  fill: black;
  font-size: 1.4em;
  text-anchor: middle;
}

.x-axis-label {
  fill: black;
  font-size: 1.4em;
  text-anchor: middle;
}

.listening-rect {
  fill: transparent;
  /* Default fill color is black */
}

.tooltip {
  /* opacity: 0; */
  position: absolute;
  top: -14px;
  left: 0;
  padding: 0.6em 1em;
  background: #fff;
  text-align: center;
  line-height: 1.4em;
  border: 1px solid #ddd;
  z-index: 10;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

/* .tooltip:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%, 50%) rotate(45deg);
  transform-origin: center center;
  z-index: 10;
} */

.tooltip-upper_line {
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.4em;
}

/* p::selection {
  color: #fff;
  background-color: #000; 
} */

.dot {
  fill: #9c9b98;
}

.mean_text,
.vacation_text {
  fill: #7d82b8;
  font-size: .8em;
  font-weight: 800;
  text-anchor: start;
}

.vacation_text {
  transform: rotate(-90deg);
}

.x-axis line,
.y-axis line,
.domain {
  stroke: gray;
}

.tick text,
.y-axis-label {
  fill: gray
}